/* RESET SIMPLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIÁVEIS (controle total depois) */
:root {
  --bg-dark: #0d0d0d;
  --text-light: #eaeaea;
  --gold: #f5c400;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-light);
}

/* CONTAINER = LIMITADOR DE LARGURA */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.2rem;
}

.header {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo img {
  max-width: 300px;
  height: auto;
}

/* BOTÕES */
.actions {
  display: flex;
  gap: 0.6rem;
}

.btn {
  text-decoration: none;
  padding: 0.4rem 0.9rem;
  font-size: 0.9rem;
  border-radius: 6px;
}

.btn-outline {
  border: 1px solid var(--gold);
  color: var(--gold);
}

.btn-primary {
  background-color: var(--gold);
  color: #000;
}

.hero {
  padding: 3rem 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* TEXTO */
.hero-text h1 {
  font-size: 2rem;
  color: var(--gold);
}

.hero-text p {
  margin-top: 1rem;
  line-height: 1.6;
  max-width: 35ch;
}

/* IMAGENS */
.hero-images {
  position: relative;
}

.img-main {
  width: 100%;
  border-radius: 12px;
}

.img-secondary {
  width: 60%;
  position: absolute;
  bottom: -20px;
  right: -10px;
  border-radius: 10px;
}

@media (min-width: 768px) {

  /* HEADER */
  .logo img {
    max-width: 150px;
  }

  .btn {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
  }

  /* HERO */
  .hero-content {
    flex-direction: row;
    align-items: center;
  }

  .hero-text {
    flex: 1;
  }

  .hero-images {
    flex: 1;
  }

  .hero-text h1 {
    font-size: 3rem;
  }
}
